<div class="subevent-container">
    {% if block.settings.titlesubevent1 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent1 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent1 }}; border-bottom: 50px solid {{ block.settings.color-subevent1 }}"; >
    <a href="{{ block.settings.url-subevent1 }}" title="{{ block.settings.title-subevent1 }}">
    <h3>{{ block.settings.title-subevent1 }}</h3>
    </a>
    </div>
    {% endif %}
    {% if block.settings.title-subevent2 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent2 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent2 }}; border-bottom: 50px solid {{ block.settings.color-subevent2 }}"; >
      <a href="{{ block.settings.url-subevent2 }}" title="{{ block.settings.title-subevent2 }}">
      <h3>{{ block.settings.title-subevent2 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent3 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent3 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent3 }}; border-bottom: 50px solid {{ block.settings.color-subevent3 }}"; >
      <a href="{{ block.settings.url-subevent3 }}" title="{{ block.settings.title-subevent3 }}">
      <h3>{{ block.settings.title-subevent3 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent4 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent4 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent4 }}; border-bottom: 50px solid {{ block.settings.color-subevent4 }}"; >
      <a href="{{ block.settings.url-subevent4 }}" title="{{ block.settings.title-subevent4 }}">
      <h3>{{ block.settings.title-subevent4 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent5 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent5 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent5 }}; border-bottom: 50px solid {{ block.settings.color-subevent5 }}"; >
      <a href="{{ block.settings.url-subevent5 }}" title="{{ block.settings.title-subevent5 }}">
      <h3>{{ block.settings.title-subevent1 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent6 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent6 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent6 }}; border-bottom: 50px solid {{ block.settings.color-subevent6 }}"; >
      <a href="{{ block.settings.url-subevent6 }}" title="{{ block.settings.title-subevent6 }}">
      <h3>{{ block.settings.title-subevent6 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent7 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent7 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent7 }}; border-bottom: 50px solid {{ block.settings.color-subevent7 }}"; >
      <a href="{{ block.settings.url-subevent7 }}" title="{{ block.settings.title-subevent7 }}">
      <h3>{{ block.settings.title-subevent1 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent8 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent8 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent8 }}; border-bottom: 50px solid {{ block.settings.color-subevent8 }}"; >
      <a href="{{ block.settings.url-subevent8 }}" title="{{ block.settings.title-subevent8 }}">
      <h3>{{ block.settings.title-subevent8 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent9 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent9 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent9 }}; border-bottom: 50px solid {{ block.settings.color-subevent9 }}"; >
      <a href="{{ block.settings.url-subevent9 }}" title="{{ block.settings.title-subevent9 }}">
      <h3>{{ block.settings.title-subevent9 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.title-subevent10 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent10 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent10 }}; border-bottom: 50px solid {{ block.settings.color-subevent10 }}"; >
      <a href="{{ block.settings.url-subevent10 }}" title="{{ block.settings.title-subevent10 }}">
      <h3>{{ block.settings.title-subevent10 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.titlesubevent11 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent11 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent11 }}; border-bottom: 50px solid {{ block.settings.color-subevent11 }}"; >
      <a href="{{ block.settings.url-subevent1 }}" title="{{ block.settings.title-subevent1 }}">
      <h3>{{ block.settings.title-subevent11 }}</h3>
      </a>
      </div>
    {% endif %}
    {% if block.settings.titlesubevent12 != blank %}
      <div class="subevent" style="background-image: url('{{ block.settings.image-subevent12 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent12 }}; border-bottom: 50px solid {{ block.settings.color-subevent12 }}"; >
      <a href="{{ block.settings.url-subevent12 }}" title="{{ block.settings.title-subevent12 }}">
      <h3>{{ block.settings.title-subevent12 }}</h3>
      </a>
      </div>
    {% endif %}
</div>
    {% schema %}
        {
          "name": "SUB-CAT",
          "blocks": [
            {
              "type": "text",
              "name": "SUB-Categoria",
              "settings": [
                {
    "type": "text",
    "id": "title-subevent1",
    "label": "Titulo de Sub Evento 1"
  },
  {
    "type": "image_picker",
    "id": "image-subevent1",
    "label": "Imagen del Sub Evento 1"
  },
  {
    "type": "color",
    "id": "color-subevent1",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent1",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent2",
    "label": "Titulo de Sub Evento 2"
  },
  {
    "type": "image_picker",
    "id": "image-subevent2",
    "label": "Imagen del Sub Evento 2"
  },
  {
    "type": "color",
    "id": "color-subevent2",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent2",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent3",
    "label": "Titulo de Sub Evento 3"
  },
  {
    "type": "image_picker",
    "id": "image-subevent3",
    "label": "Imagen del Sub Evento 3"
  },
  {
    "type": "color",
    "id": "color-subevent3",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent3",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent4",
    "label": "Titulo de Sub Evento 4"
  },
  {
    "type": "image_picker",
    "id": "image-subevent4",
    "label": "Imagen del Sub Evento 4"
  },
  {
    "type": "color",
    "id": "color-subevent4",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent4",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent5",
    "label": "Titulo de Sub Evento 5"
  },
  {
    "type": "image_picker",
    "id": "image-subevent5",
    "label": "Imagen del Sub Evento 5"
  },
  {
    "type": "color",
    "id": "color-subevent5",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent5",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent6",
    "label": "Titulo de Sub Evento 6"
  },
  {
    "type": "image_picker",
    "id": "image-subevent6",
    "label": "Imagen del Sub Evento 6"
  },
  {
    "type": "color",
    "id": "color-subevent6",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent6",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent7",
    "label": "Titulo de Sub Evento 7"
  },
  {
    "type": "image_picker",
    "id": "image-subevent7",
    "label": "Imagen del Sub Evento 7"
  },
  {
    "type": "color",
    "id": "color-subevent7",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent7",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent8",
    "label": "Titulo de Sub Evento 8"
  },
  {
    "type": "image_picker",
    "id": "image-subevent8",
    "label": "Imagen del Sub Evento 8"
  },
  {
    "type": "color",
    "id": "color-subevent8",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent8",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent9",
    "label": "Titulo de Sub Evento 9"
  },
  {
    "type": "image_picker",
    "id": "image-subevent9",
    "label": "Imagen del Sub Evento 9"
  },
  {
    "type": "color",
    "id": "color-subevent9",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent9",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent10",
    "label": "Titulo de Sub Evento 10"
  },
  {
    "type": "image_picker",
    "id": "image-subevent10",
    "label": "Imagen del Sub Evento 10"
  },
  {
    "type": "color",
    "id": "color-subevent10",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent10",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent11",
    "label": "Titulo de Sub Evento 11"
  },
  {
    "type": "image_picker",
    "id": "image-subevent11",
    "label": "Imagen del Sub Evento 11"
  },
  {
    "type": "color",
    "id": "color-subevent11",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent11",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent12",
    "label": "Titulo de Sub Evento 12"
  },
  {
    "type": "image_picker",
    "id": "image-subevent12",
    "label": "Imagen del Sub Evento 12"
  },
  {
    "type": "color",
    "id": "color-subevent12",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
   "type": "url",
   "id": "url-subevent12",
   "label": "Link"
  }
        ]
            }
          ]
}    
{% endschema %}
