{{ 'tab-container.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tab-container.js' | asset_url }}" defer="defer"></script>
{%- comment -%}
  

{%- assign numbertab = 0 -%}
{%- assign numbertab = numbertab + 1 -%}  
{% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
      <div class="tabs-container">
        {% if block.settings.categoria != blank  %}
            <div class="tab-buttons" id="tabContainer">
                <div class="tab" onclick="changeTab({{ numbertab }})">{{ block.settings.categoria }}</div>
                <div class="tab" onclick="changeTab({{ numbertab + 1 }})">213132</div>
            </div>
        {% endif %}   
        {% if block.settings.parrafo != blank %}
             <div id="content{{numbertab}}" class="tab-content">
              <h3>{{ block.settings.categoria }}</h3>
              <p>{{ block.settings.parrafo }}</p>
              <a href="{{ block.settings.btnlink }}" class="btn">{{ block.settings.btbtxt }}</a>
            </div>
        {% endif %}
    </div>
  {% endcase %}    
  {% endfor %}
{%- endcomment -%}

{%- assign numbertab = 0 -%}
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
      <div class="tabs-container">
        {% if block.settings.categoria != blank  %}
            <div class="tab-buttons" id="tabContainer">
                <div class="tab" onclick="changeTab({{ numbertab }})">{{ block.settings.categoria }}</div>
            </div>
            <div class="tab-content" id="content{{numbertab}}">
                <h3>{{ block.settings.categoria }}</h3>
                <p>{{ block.settings.parrafo }}</p>
                <img width="300" height="200" src="{{ block.settings.imagecat }}">
                <a href="{{ block.settings.btnlink }}" class="btn">{{ block.settings.btbtxt }}</a>
            </div>
        {% endif %}
    </div>
    {%- assign numbertab = numbertab + 1 -%}  
  {% endcase %}    
  {% endfor %}

{% schema %}
{
  "name": "Contenedor TAB",
  "blocks": [
    {
      "type": "section",
      "name": "Text",
      "settings": [
      {
        "type" : "text" ,
        "id" : "categoria" ,
        "label" : "Categoria" ,
        "default": "Introdusca de la Categoria"
      },
      {
       "type": "image_picker",
       "id": "imagecat",
       "label": "Imagen de Categoria"
      },
      {
        "type": "textarea",
        "id": "parrafo",
        "label": "<p>Contenido de Contenedor</p>"
      },
      {
        "type": "url",
        "id": "btnlink",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "btntxt",
        "label": "Texto del Boton"
      }

    ]
    }
  ]
}
{% endschema %}




