{{ 'buttons.css' | asset_url | stylesheet_tag }}
{{ 'tab-container.css' | asset_url | stylesheet_tag }}

{%- assign tabn = 1 -%}
<div class="tabs-container">
    <div class="tab-buttons" id="tabContainer">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            {% if block.settings.title != blank %}
              <div class="tab" onclick="changeTab({{ tabn }})" 
                {%- if block.settings.image != blank -%} 
                  style="background-image: url('{{ block.settings.image | image_url: width: 150 }} ');"
                {% endif %}>{{ block.settings.title }}</div>      
            {% endif %}
        {% endcase %}
        {%- assign tabn = tabn | plus: 1 -%}
      {% endfor %}
    </div>
    {%- assign tabn = 1 -%}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          {% if block.settings.title != blank %}
            <div id="content{{ tabn }}" class="tab-content">
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.text }}</p>
                <a href="{{ block.settings.btn }}" class="btn">{{ block.settings.btntxt }}</a> 
             
                <div class="tabs-container">
                  <div class="tab-buttons" id="Events">
                    {% if block.settings.title-event1 != blank %}<div class="tab" onclick="Changeevent(1)" {%- if block.settings.image-event1 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event1 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event1 }}</div>{% endif %}

                    {% if block.settings.title-event2 != blank %}<div class="tab" onclick="Changeevent(2)" {%- if block.settings.image-event2 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event2 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event2 }}</div>{% endif %}

                    {% if block.settings.title-event3 != blank %}<div class="tab" onclick="Changeevent(3)" {%- if block.settings.image-event3 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event3 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event3 }}</div>{% endif %}

                    {% if block.settings.title-event4 != blank %}<div class="tab" onclick="Changeevent(4)" {%- if block.settings.image-event4 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event4 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event4 }}</div>{% endif %}
                    
                    {% if block.settings.title-event5 != blank %}<div class="tab" onclick="Changeevent(5)" {%- if block.settings.image-event5 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event5 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event5 }}</div>{% endif %}
                  </div>
                  {% assign k = 1 %}
                  {% assign l = 12 %}
                  {% for i in (1..5) %}
                  <div id="event{i}" class="event-content" >
                    <h3>{{ block.settings.["title-event#{i}"] }}</h3>
                    <p>{{ block.settings.["text-event#{i}"] }}</p>
                    <a href="{{ block.settings.["btnev#{i}"] }}" class="btn">{{ block.settings.["btnevtxt#{i}"] }}</a>                     
                    <div class="subevent-container">
                    {% for j in (k..l) %}
                      {% if block.settings["titlesubevent#{k}"] != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings["image-subevent#{k}"] | image_url: width: 150 }}'); border: 10px solid {{ block.settings["color-subevent#{k}"] }}; border-bottom: 50px solid {{ block.settings["color-subevent#{k}"] }};">
                          <a href="{{ block.settings["url-subevent#{k}"] }}" title="{{ block.settings["title-subevent#{k}"] }}">
                        <h3>{{ block.settings["title-subevent#{k}"] }}</h3>
                        </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </div>
                  {%- assign k = | plus: 12 -%}
                  {%- assign l = | plus: 12 -%}
                  {% endfor %}
                </div>
            </div>
        {% endif %}    
      {% endcase %}
      {%- assign tabn = tabn | plus: 1 -%}
    {% endfor %}
</div>
<script src="{{ 'eventos.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'tab-container.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
      "name": "TAB-VICTORIA",
      "blocks": [
        {
          "type": "text",
          "name": "Categoria",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Heading"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Texto"
              
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Presentacion de la categoria"  
            },
            {
              "type": "url",
              "id": "btn",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btntxt",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },
           







           {
              "type": "text",
              "id": "title-event1",
              "label": "Titulo-Evento-1"
            },
            {
              "type": "textarea",
              "id": "text-event1",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event1",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev1",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt1",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },




           {
              "type": "text",
              "id": "title-event2",
              "label": "Titulo-Evento-2"
            },
            {
              "type": "textarea",
              "id": "text-event2",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event2",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev2",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt2",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },





           {
              "type": "text",
              "id": "title-event3",
              "label": "Titulo-Evento-3"
            },
            {
              "type": "textarea",
              "id": "text-event3",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event3",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev3",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt3",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },





           {
              "type": "text",
              "id": "title-event4",
              "label": "Titulo-Evento-4"
            },
            {
              "type": "textarea",
              "id": "text-event4",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event4",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev4",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt4",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },

            


           {
              "type": "text",
              "id": "title-event5",
              "label": "Titulo-Evento-5"
            },
            {
              "type": "textarea",
              "id": "text-event5",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event5",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev5",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt5",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           }




          ]
        }
      ]
    }
  
{% endschema %}