{{ 'tab-container.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tab-container.js' | asset_url }}" defer="defer"></script>
{%- assign tabn = 1 -%}
<div class="tabs-container">
    <div class="tab-buttons" id="tabContainer">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            {% if block.settings.title != blank %}
              <div class="tab" onclick="changeTab({{ tabn }})">{{ block.settings.title }}</div>      
            {% endif %}
        {% endcase %}
        {%- assign tabn = tabn | plus: 1 -%}
      {% endfor %}
    </div>
    {%- assign tabn = 1 -%}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          {% if block.settings.title != blank %}
            <div id="content{{ tabn }}" class="tab-content">
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.text }}</p>
                <a href="{{ block.settings.btn }}" class="btn">{{ block.settings.btntxt }}</a>
                  {%- if block.settings.image != blank -%}
                    <img  src="{{ block.settings.image | image_url: width: 150 }}" alt="{{ block.settings.title }}" width="150" height="200">
                  {%- endif -%}
            </div>
          {% endif %}
      {% endcase %}
      {%- assign tabn = tabn | plus: 1 -%}
    {% endfor %}
</div>
  
{% schema %}
    {
      "name": "TAB",
      "blocks": [
        {
          "type": "text",
          "name": "Categoria",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Talk about your brand"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Texto",
              "default": "<p></p>"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Presentacion de la categoria"  
            },
            {
              "type": "url",
              "id": "btn",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btntxt",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           }
          ]
        }
      ]
    }
  
{% endschema %}