{{ 'buttons.css' | asset_url | stylesheet_tag }}
{{ 'tab-container.css' | asset_url | stylesheet_tag }}

{%- assign tabn = 1 -%}
<div class="tabs-container">
    <div class="tab-buttons" id="tabContainer">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            {% if block.settings.title != blank %}
              <div class="tab" onclick="changeTab({{ tabn }})" 
                {%- if block.settings.image != blank -%} 
                  style="background-image: url('{{ block.settings.image | image_url: width: 150 }} ');"
                {% endif %}>{{ block.settings.title }}</div>      
            {% endif %}
        {% endcase %}
        {%- assign tabn = tabn | plus: 1 -%}
      {% endfor %}
    </div>
    {%- assign tabn = 1 -%}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          {% if block.settings.title != blank %}
            <div id="content{{ tabn }}" class="tab-content">
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.text }}</p>
                <a href="{{ block.settings.btn }}" class="btn">{{ block.settings.btntxt }}</a> 
             
                <div class="tabs-container">
                  <div class="tab-buttons" id="Events">
                    {% if block.settings.title-event1 != blank %}<div class="tab" onclick="Changeevent(1)" {%- if block.settings.image-event1 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event1 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event1 }}</div>{% endif %}

                    {% if block.settings.title-event2 != blank %}<div class="tab" onclick="Changeevent(2)" {%- if block.settings.image-event2 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event2 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event2 }}</div>{% endif %}

                    {% if block.settings.title-event3 != blank %}<div class="tab" onclick="Changeevent(3)" {%- if block.settings.image-event3 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event3 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event3 }}</div>{% endif %}

                    {% if block.settings.title-event4 != blank %}<div class="tab" onclick="Changeevent(4)" {%- if block.settings.image-event4 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event4 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event4 }}</div>{% endif %}
                    
                    {% if block.settings.title-event5 != blank %}<div class="tab" onclick="Changeevent(5)" {%- if block.settings.image-event5 != blank -%} 
                      style="background-image: url('{{ block.settings.image-event5 | image_url: width: 150 }} ');"
                    {% endif %}>{{ block.settings.title-event5 }}</div>{% endif %}
                  </div>

                  <div id="event1" class="event-content" >
                    <h3>{{ block.settings.title-event1 }}</h3>
                    <p>{{ block.settings.text-event1 }}</p>
                    <a href="{{ block.settings.btnev1 }}" class="btn">{{ block.settings.btnevtxt1 }}</a> 
                   
                    <div class="subevent-container">
                      {% if block.settings.titlesubevent1 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent1 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent1 }}; border-bottom: 50px solid {{ block.settings.color-subevent1 }}"; >
                      <a href="{{ block.settings.url-subevent1 }}" title="{{ block.settings.title-subevent1 }}">
                      <h3>{{ block.settings.title-subevent1 }}</h3>
                      </a>
                      </div>
                      {% endif %}
                      {% if block.settings.title-subevent2 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent2 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent2 }}; border-bottom: 50px solid {{ block.settings.color-subevent2 }}"; >
                        <a href="{{ block.settings.url-subevent2 }}" title="{{ block.settings.title-subevent2 }}">
                        <h3>{{ block.settings.title-subevent2 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent3 != blank %}<div class="subevent" style="background-image: url('{{ block.settings.image-subevent3 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent3 }}; border-bottom: 50px solid {{ block.settings.color-subevent3 }}"; >
                        <a href="{{ block.settings.url-subevent3 }}" title="{{ block.settings.title-subevent3 }}">
                        <h3>{{ block.settings.title-subevent3 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent4 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent4 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent4 }}; border-bottom: 50px solid {{ block.settings.color-subevent4 }}"; >
                        <a href="{{ block.settings.url-subevent4 }}" title="{{ block.settings.title-subevent4 }}">
                        <h3>{{ block.settings.title-subevent4 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent5 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent5 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent5 }}; border-bottom: 50px solid {{ block.settings.color-subevent5 }}"; >
                        <a href="{{ block.settings.url-subevent5 }}" title="{{ block.settings.title-subevent5 }}">
                        <h3>{{ block.settings.title-subevent1 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent6 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent6 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent6 }}; border-bottom: 50px solid {{ block.settings.color-subevent6 }}"; >
                        <a href="{{ block.settings.url-subevent6 }}" title="{{ block.settings.title-subevent6 }}">
                        <h3>{{ block.settings.title-subevent6 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent7 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent7 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent7 }}; border-bottom: 50px solid {{ block.settings.color-subevent7 }}"; >
                        <a href="{{ block.settings.url-subevent7 }}" title="{{ block.settings.title-subevent7 }}">
                        <h3>{{ block.settings.title-subevent1 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent8 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent8 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent8 }}; border-bottom: 50px solid {{ block.settings.color-subevent8 }}"; >
                        <a href="{{ block.settings.url-subevent8 }}" title="{{ block.settings.title-subevent8 }}">
                        <h3>{{ block.settings.title-subevent8 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent9 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent9 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent9 }}; border-bottom: 50px solid {{ block.settings.color-subevent9 }}"; >
                        <a href="{{ block.settings.url-subevent9 }}" title="{{ block.settings.title-subevent9 }}">
                        <h3>{{ block.settings.title-subevent9 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.title-subevent10 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent10 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent10 }}; border-bottom: 50px solid {{ block.settings.color-subevent10 }}"; >
                        <a href="{{ block.settings.url-subevent10 }}" title="{{ block.settings.title-subevent10 }}">
                        <h3>{{ block.settings.title-subevent10 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.titlesubevent11 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent11 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent11 }}; border-bottom: 50px solid {{ block.settings.color-subevent11 }}"; >
                        <a href="{{ block.settings.url-subevent1 }}" title="{{ block.settings.title-subevent1 }}">
                        <h3>{{ block.settings.title-subevent11 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                      {% if block.settings.titlesubevent12 != blank %}
                        <div class="subevent" style="background-image: url('{{ block.settings.image-subevent12 | image_url: width: 150 }}');border: 10px solid {{ block.settings.color-subevent12 }}; border-bottom: 50px solid {{ block.settings.color-subevent12 }}"; >
                        <a href="{{ block.settings.url-subevent12 }}" title="{{ block.settings.title-subevent12 }}">
                        <h3>{{ block.settings.title-subevent12 }}</h3>
                        </a>
                        </div>
                      {% endif %}
                  </div>

                  </div>
                  <div id="event2" class="event-content">
                    <h3>{{ block.settings.title-event2 }}</h3>
                    <p>{{ block.settings.text-event2 }}</p>
                    <a href="{{ block.settings.btnev2 }}" class="btn">{{ block.settings.btnevtxt2 }}</a>   
                  </div>
                  <div id="event3" class="event-content">
                    <h3>{{ block.settings.title-event3 }}</h3>
                    <p>{{ block.settings.text-event3 }}</p>
                    <a href="{{ block.settings.btnev3 }}" class="btn">{{ block.settings.btnevtxt3 }}</a>   
                  </div>
                  <div id="event4" class="event-content">
                    <h3>{{ block.settings.title-event4 }}</h3>
                    <p>{{ block.settings.text-event4 }}</p>
                    <a href="{{ block.settings.btnev4 }}" class="btn">{{ block.settings.btnevtxt4 }}</a>   
                  </div>
                  <div id="event5" class="event-content">
                    <h3>{{ block.settings.title-event5 }}</h3>
                    <p>{{ block.settings.text-event5 }}</p>
                    <a href="{{ block.settings.btnev5 }}" class="btn">{{ block.settings.btnevtxt5 }}</a>   
                  </div>
                  

                </div>
            </div>
        {% endif %}    
      {% endcase %}
      {%- assign tabn = tabn | plus: 1 -%}
    {% endfor %}
</div>
<script src="{{ 'eventos.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'tab-container.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
      "name": "TAB-VICTORIA",
      "blocks": [
        {
          "type": "text",
          "name": "Categoria",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Heading"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Texto"
              
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Presentacion de la categoria"  
            },
            {
              "type": "url",
              "id": "btn",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btntxt",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },
           
           {
              "type": "text",
              "id": "title-event1",
              "label": "Titulo-Evento-1"
            },
            {
              "type": "textarea",
              "id": "text-event1",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event1",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev1",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt1",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },




           {
              "type": "text",
              "id": "title-event2",
              "label": "Titulo-Evento-2"
            },
            {
              "type": "textarea",
              "id": "text-event2",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event2",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev2",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt2",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },





           {
              "type": "text",
              "id": "title-event3",
              "label": "Titulo-Evento-3"
            },
            {
              "type": "textarea",
              "id": "text-event3",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event3",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev3",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt3",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },





           {
              "type": "text",
              "id": "title-event4",
              "label": "Titulo-Evento-4"
            },
            {
              "type": "textarea",
              "id": "text-event4",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event4",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev4",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt4",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },

            


           {
              "type": "text",
              "id": "title-event5",
              "label": "Titulo-Evento-5"
            },
            {
              "type": "textarea",
              "id": "text-event5",
              "label": "Parrafo"
              
            },
            {
                "type": "image_picker",
                "id": "image-event5",
                "label": "Presentacion del Evento"  
            },
            {
              "type": "url",
              "id": "btnev5",
              "label": "Link Tarjeta"
            },
            {
              "type": "text",
              "id": "btnevtxt5",
              "label":"Texto del Boton",
              "default": "Discover Collection"
           },

  {
  "type": "text",
  "id": "title-subevent1",
  "label": "Titulo de Sub Evento 1"
  },
  {
    "type": "image_picker",
    "id": "image-subevent1",
    "label": "Imagen del Sub Evento 1"
  },
  {
    "type": "color",
    "id": "color-subevent1",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent1",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent2",
    "label": "Titulo de Sub Evento 2"
  },
  {
    "type": "image_picker",
    "id": "image-subevent2",
    "label": "Imagen del Sub Evento 2"
  },
  {
    "type": "color",
    "id": "color-subevent2",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent2",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent3",
    "label": "Titulo de Sub Evento 3"
  },
  {
    "type": "image_picker",
    "id": "image-subevent3",
    "label": "Imagen del Sub Evento 3"
  },
  {
    "type": "color",
    "id": "color-subevent3",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent3",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent4",
    "label": "Titulo de Sub Evento 4"
  },
  {
    "type": "image_picker",
    "id": "image-subevent4",
    "label": "Imagen del Sub Evento 4"
  },
  {
    "type": "color",
    "id": "color-subevent4",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent4",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent5",
    "label": "Titulo de Sub Evento 5"
  },
  {
    "type": "image_picker",
    "id": "image-subevent5",
    "label": "Imagen del Sub Evento 5"
  },
  {
    "type": "color",
    "id": "color-subevent5",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent5",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent6",
    "label": "Titulo de Sub Evento 6"
  },
  {
    "type": "image_picker",
    "id": "image-subevent6",
    "label": "Imagen del Sub Evento 6"
  },
  {
    "type": "color",
    "id": "color-subevent6",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent6",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent7",
    "label": "Titulo de Sub Evento 7"
  },
  {
    "type": "image_picker",
    "id": "image-subevent7",
    "label": "Imagen del Sub Evento 7"
  },
  {
    "type": "color",
    "id": "color-subevent7",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent7",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent8",
    "label": "Titulo de Sub Evento 8"
  },
  {
    "type": "image_picker",
    "id": "image-subevent8",
    "label": "Imagen del Sub Evento 8"
  },
  {
    "type": "color",
    "id": "color-subevent8",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent8",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent9",
    "label": "Titulo de Sub Evento 9"
  },
  {
    "type": "image_picker",
    "id": "image-subevent9",
    "label": "Imagen del Sub Evento 9"
  },
  {
    "type": "color",
    "id": "color-subevent9",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent9",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent10",
    "label": "Titulo de Sub Evento 10"
  },
  {
    "type": "image_picker",
    "id": "image-subevent10",
    "label": "Imagen del Sub Evento 10"
  },
  {
    "type": "color",
    "id": "color-subevent10",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent10",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent11",
    "label": "Titulo de Sub Evento 11"
  },
  {
    "type": "image_picker",
    "id": "image-subevent11",
    "label": "Imagen del Sub Evento 11"
  },
  {
    "type": "color",
    "id": "color-subevent11",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
    "type": "url",
    "id": "url-subevent11",
    "label": "Link"
  },
  {
    "type": "text",
    "id": "title-subevent12",
    "label": "Titulo de Sub Evento 12"
  },
  {
    "type": "image_picker",
    "id": "image-subevent12",
    "label": "Imagen del Sub Evento 12"
  },
  {
    "type": "color",
    "id": "color-subevent12",
    "label": "Color del Subevento",
    "default": "#FFFFFF"
  },
  {
   "type": "url",
   "id": "url-subevent12",
   "label": "Link"
  }






          ]
        }    
    ]
  }
  
{% endschema %}