{{ 'tab-container.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tab-container.js' | asset_url }}" defer="defer"></script>


{%- assign numbertab = 0 -%}
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'section' %}
      <div class="tabs-container">
        {% if block.settings.categoria != blank  %}
            <div class="tab-buttons" id="tabContainer">
                <div class="tab" onclick="changeTab({{ numbertab }})">{{ block.settings.categoria }}</div>
            </div>
            <div class="tab-content" id="content{{numbertab}}">
                <h3>{{ block.settings.categoria }}</h3>
                <p>{{ block.settings.parrafo }}</p>
                <img width="300" height="200" src="{{ block.settings.imagecat }}">
                <a href="{{ block.settings.btnlink }}" class="btn">{{ block.settings.btbtxt }}</a>
            </div>
        {% endif %}
    </div>
    {%- assign numbertab = numbertab + 1 -%}  
  {% endcase %}    
  {% endfor %}

{% schema %}
{
<<<<<<< HEAD
  
  "name": "tab-container",
=======
  "name": "Contenedor TAB",
>>>>>>> parent of a9c5e16 (Update from Shopify for theme nuevotema/main)
  "blocks": [
    {
<<<<<<< HEAD
        "type": "text",
        "id": "text",
        "name": "text",
=======
      "type": "text",
      "name": "Text",
>>>>>>> parent of a3b6013 (x)
      "settings": [
      {
        "type" : "text" ,
        "id" : "categoria" ,
        "label" : "Categoria" ,
        "default": "Introdusca de la Categoria"
      },
      {
       "type": "image_picker",
       "id": "imagecat",
       "label": "Imagen de Categoria"
      },
      {
        "type": "textarea",
        "id": "parrafo",
        "label": "<p>Contenido de Contenedor</p>"
      },
      {
        "type": "url",
        "id": "btnlink",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "btntxt",
        "label": "Texto del Boton"
      }

    ]
    }
  ]
}
{% endschema %}




