{{ 'vrc-banner.css' | asset_url | stylesheet_tag }}
{%- if section.settings.banner-escritorio != blank or section.settings.banner-movil != blank -%}
  {% style %}
    .vrc-banner {
      /* Estilo predeterminado para escritorio */
      @media (min-width: 768px) {
        background-image: url('{{ section.settings.banner-escritorio | image_url: width: 2592, height: 1152 }}');
      }
      /* Estilo para dispositivos móviles */
      @media (max-width: 768px) {
        background-image: url('{{ section.settings.banner-movil | image_url: width: 1152, height: 2592 }}');
      }
    }
    .vrc-banner h1,
    p {
      position: absolute;
    }


  {% endstyle %}

  <div class="vrc-banner">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {% when "heading" %}
          <style>
            @media (min-width: 768px) {
              .vrc-banner h1 {
                top: {{ block.settings.posey-e-tittle1 }}%;
                left: {{ block.settings.posex-e-tittle1 }}%;
                font-size: {{ block.settings.size-e-tittle1 }}px;
              }
            }
            @media (max-width: 768px) {
              .vrc-banner h1 {
                top: {{ block.settings.posey-m-tittle1 }}%;
                left: {{ block.settings.posex-m-tittle1 }}%;
                font-size: {{ block.settings.size-m-tittle1 }}px;
              }
            }
            .vrc-banner h1 {
              color: {{ block.settings.font-color-tittle1 }};
            }
          </style>
          <h1>{{ block.settings.title-banner1 }}</h1>
        {% when "text" %}
          <style>
            @media (min-width: 768px) {
              .vrc-banner p {
                top: {{ block.settings.posey-e-tittle2 }}%;
                left: {{ block.settings.posex-e-tittle2 }}%;
                font-size: {{ block.settings.size-e-title2 }}px;
              }
            }
            @media (max-width: 768px) {
              .vrc-banner p {
                top: {{ block.settings.posey-m-tittle2 }}%;
                left: {{ block.settings.posex-m-tittle2 }}%;
                font-size: {{ block.settings.size-m-tittle2 }}px;
              }
            }
            .vrc-banner p {
              color: {{ block.settings.font-color-title2 }};
            }
          </style>
          <p>{{ block.settings.title-banner2 }}</p>
        {% when "button" %}
          <style>
            @media (min-width: 768px) {
              .position-1 {
                top: {{ block.settings.posey-e-button1 }}%;
                left: {{ block.settings.posex-e-button1 }}%;
                font-size: {{ block.settings.size-e-button1 }}px;
              }
              .position-2 {
                top: {{ block.settings.posey-e-button2 }}%;
                left: {{ block.settings.posex-e-button2 }}%;
                font-size: {{ block.settings.size-e-button2 }}px;
              }
            }
            @media (max-width: 768px) {
              .position-1 {
                top: {{ block.settings.posey-m-buton1 }}%;
                left: {{ block.settings.posex-m-buton1 }}%;
                font-size: {{ block.settings.size-e-buton1 }}px;
              }
              .position-2 {
                top: {{ block.settings.posey-m-buton2 }}%;
                left: {{ block.settings.posex-m-buton2 }}%;
                font-size: {{ block.settings.size-m-buton2 }}px;
              }
            }
          </style>
          <a href="{{ block.settings.link-botton1 }}" class="button-banner position-1">{{ block.settings.text-botton1 }}</a>
          <a href="{{ block.settings.link-botton2 }}" class="button-banner position-2">{{ block.settings.text-botton2 }}</a>

      {%- endcase -%}

    {% endfor %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "VRC-BANNER",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "banner-movil",
        "label": "Imagen Para Moviles"
      }, {
        "type": "image_picker",
        "id": "banner-escritorio",
        "label": "Imagen Para Compputadoras"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Titulo 1",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "title-banner1",
            "label": "Titulo 1"
          },

          {
            "type": "range",
            "id": "size-m-tittle1",
            "min": 12,
            "max": 101,
            "step": 1,
            "unit": "px",
            "default": 24,
            "label": "Tamaño Movil Titulo 1"
          },
          {
            "type": "range",
            "id": "posex-m-tittle1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Movil Titulo 1",
            "default": 8
          },
          {
            "type": "range",
            "id": "posey-m-tittle1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Movil Titulo 1",
            "default": 8
          }, {
            "type": "range",
            "id": "size-e-tittle1",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Escritorio Titulo 1",
            "default": 45
          }, {
            "type": "range",
            "id": "posex-e-tittle1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Escritorio Titulo 1",
            "default": 8
          }, {
            "type": "range",
            "id": "posey-e-tittle1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Escritorio Titulo 1",
            "default": 8
          }, {
            "type": "color",
            "id": "font-color-tittle1",
            "label": "Color Titulo 1",
            "default": "#FFFFFF"
          }

        ]
      }, {
        "type": "text",
        "name": "Titulo 2",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "title-banner2",
            "label": "Titulo 2"
          },

          {
            "type": "range",
            "id": "size-m-title2",
            "min": 12,
            "max": 101,
            "step": 1,
            "default": 24,
            "label": "Tamaño Movil Titulo 2"
          },
          {
            "type": "range",
            "id": "posex-m-title2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Movil Titulo 2",
            "default": 8
          },
          {
            "type": "range",
            "id": "posey-m-title2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Movil Titulo 2",
            "default": 8
          }, {
            "type": "range",
            "id": "size-e-title2",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Escritorio Titulo 2",
            "default": 45
          }, {
            "type": "range",
            "id": "posex-e-title2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Escritorio Titulo 2",
            "default": 8
          }, {
            "type": "range",
            "id": "posey-e-title2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Escritorio Titulo 2",
            "default": 8
          }, {
            "type": "color",
            "id": "font-color-title2",
            "label": "Color Titulo 2",
            "default": "#FFFFFF"
          }
        ]
      }, {
        "type": "button",
        "name": "Boton",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text-botton1",
            "label": "Texto del Boton 1"
          },
          {
            "type": "url",
            "id": "link-botton1",
            "label": "Link Botton1"
          },

          {
            "type": "range",
            "id": "posex-m-button1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Movil Boton 1",
            "default": 8
          },
          {
            "type": "range",
            "id": "posey-m-button1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Movil Boton 1",
            "default": 8
          }, {
            "type": "range",
            "id": "size-m-button1",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Movil Boton 1",
            "default": 45
          }, {
            "type": "range",
            "id": "posex-e-button1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Escritorio Boton 1",
            "default": 8
          }, {
            "type": "range",
            "id": "posey-e-button1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Escritorio Boton 1",
            "default": 8
          }, {
            "type": "range",
            "id": "size-e-button1",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Escritorio Boton 1",
            "default": 45
          }, {
            "type": "text",
            "id": "text-botton2",
            "label": "Texto del Boton 2"
          }, {
            "type": "url",
            "id": "link-botton2",
            "label": "Link Botton2"
          }, {
            "type": "range",
            "id": "posex-m-button2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Movil Boton 2",
            "default": 8
          }, {
            "type": "range",
            "id": "posey-m-button2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Movil Boton 2",
            "default": 8
          }, {
            "type": "range",
            "id": "size-m-button2",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Movil Boton 2",
            "default": 45
          }, {
            "type": "range",
            "id": "posex-e-button2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Horizaontal Escritorio Boton 2",
            "default": 8
          }, {
            "type": "range",
            "id": "posey-e-button2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Posicion Vertical Escritorio Boton 2",
            "default": 8
          }, {
            "type": "range",
            "id": "size-e-button2",
            "min": 10,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Tamaño Escritorio Boton 2",
            "default": 45
          }

        ]
      }
    ]
  }
{% endschema %}