{{ 'vrc-banner.css' |  asset_url |  stylesheet_tag }}
{%- if section.settings.banner-escritorio != blank or section.settings.banner-movil != blank -%}
    {% capture desktop_style %}
        background-image: url('{{ section.settings.banner-escritorio | image_url: '2592x1152' }}');
      {% endcapture %}
      
      {% capture mobile_style %}
        background-image: url('{{ section.settings.banner-movil | image_url: '1152x2592' }}');
      {% endcapture %}
      
      <div class="vrc-banner" style="{% if is mobile_view %}{{ mobile_style }}{% else %}{{ desktop_style }}{% endif %}">
 

        <h1 style="font-size: {{section.settings.size-tittle1}};">{{section.settings.title-banner}}</h1>
        <p style="font-size: {{section.settings.size-tittle2}};">{{section.settings.tittl2-banner}}</p>
        <a href="{{section.settings.link-botton1}}" class="button-banner position-boton">{{section.settings.text-botton1}}</a>
        <a href="{{section.settings.link-botton2}}" class="button-banner position-mid">{{section.settings.text-botton2}}</a>
    </div>
   
{%- endif -%}
{% schema %}
    {
        "name": "vrc-banner",
              "settings": [
               {
                  "type": "image_picker",
                  "id": "banner-movil",
                  "label": "Imagen Para Moviles"
               },
               {
                  "type": "image_picker",
                  "id": "banner-escritorio",
                  "label": "Imagen Para Compputadoras"
               },
               {
                 "type": "text",
                 "id": "title-banner",
                 "label": "Titulo del Banner"
               },
              {
                "type": "range",
                "id": "size-tittle1",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "px",
                "label": "Tamaño Titulo 1",
                "default": 20
              },
                {
                 "type": "textarea",
                 "id": "tittl2-banner",
                 "label": "2do Titulo del Banner"
               },
               {
                "type": "range",
                "id": "size-tittle2",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "px",
                "label": "Tamaño Titulo 1",
                "default": 20
              },
               {
                 "type": "text",
                 "id": "text-botton1",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton1",
                 "label": "Link Botton1"
               },
               {
                 "type": "text",
                 "id": "text-botton2",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton2",
                 "label": "Link Botton2"
               }               
            ]
          }
{% endschema %}