{{ 'vrc-banner.css' |  asset_url |  stylesheet_tag }}
{%- if section.settings.banner-escritorio2 != blank or section.settings.banner-movil2 != blank -%}
{% style  %}  
    .vrc-banner {
        /* Estilo predeterminado para escritorio */
        background-image: url('{{ section.settings.banner-escritorio2 | image_url: width: 2592, height: 1152 }}');
            h1{top: {{section.settings.pose-y-tittle12}}%; left: {{section.settings.pose-x-tittle12}}%;font-size:{{section.settings.size-e-tittle12}}px;}    
       /* Estilo para dispositivos m칩viles */
        @media (max-width: 768px) {
            background-image: url('{{ section.settings.banner-movil2 | image_url: width: 1152, height: 2592 }}');
            h1{top: {{section.settings.posm-y-tittle12}}%; left: {{section.settings.posm-x-tittle12}}%;font-size:{{section.settings.size-m-tittle12}}px;}     
          }

    }
    .vrc-banner h1{
      position : absolute; 
      color:{{ section.settings.font-color-tittle12 }};
  
    } 
    .vrc-banner p{
     position : absolute;
     font-size:{{section.settings.size-tittle22}}px;
     color:{{ section.settings.font-color-tittle22 }};
    }

    
    {% endstyle %}
    <div class="vrc-banner">
        <h1>{{section.settings.title-banner2}}</h1>
        <p >{{section.settings.tittl2-banner2}}</p>
        <a href="{{section.settings.link-botton12}}" class="button-banner position-boton">{{section.settings.text-botton12}}</a>
        <a href="{{section.settings.link-botton22}}" class="button-banner position-mid">{{section.settings.text-botton22}}</a>
    </div>
   
{%- endif -%}x
{% schema %}
    {
        "name": "VRC-BANNER2do",
              "settings": [
                {
                 "type": "text",
                 "id": "title-banner2",
                 "label": "Titulo del Banner"
               }, 
               {
                "type": "image_picker",
                "id": "banner-movil2",
                "label": "Imagen Para Moviles"
               },
               {
                "type": "range",
                "id": "posm-x-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Horizaontal Titulo 1",
                "default": 8
              },
              {  
                "type": "range",
                "id": "posm-y-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Vertical Titulo 1",
                "default": 8
              },
              {
                "type": "range",
                "id": "size-m-tittle12",
                "min": 10,
                "max": 90,
                "step": 1,
                "unit": "px",
                "label": "Tama침o Movil Titulo 1",
                "default": 45
              },





               {
                "type": "image_picker",
                "id": "banner-escritorio2",
                "label": "Imagen Para Compputadoras"
               },
               {
               "type": "range",
                "id": "pose-x-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Horizaontal Escritorio Titulo 1",
                "default": 8
              },
              {  
                "type": "range",
                "id": "pose-y-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Vertical Escritorio Titulo 1",
                "default": 8
              },
                {
                "type": "range",
                "id": "size-e-tittle12",
                "min": 10,
                "max": 90,
                "step": 1,
                "unit": "px",
                "label": "Tama침o Escritorio Titulo 1",
                "default": 45
              },
              {
                "type": "color",
                "id": "font-color-tittle12",
                "label": "Color Titulo 1",
                "default": "#FFFFFF"
              },


    
         
                {
                 "type": "textarea",
                 "id": "tittl2-banner2",
                 "label": "2do Titulo del Banner"
               },
               {
                "type": "range",
                "id": "size-tittle22",
                "min": 10,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "Tama침o Titulo 2",
                "default": 25
              },
              {
                "type": "color",
                "id": "font-color-tittle22",
                "label": "Color Titulo 2",
                "default": "#000000"
              },
               {
                 "type": "text",
                 "id": "text-botton12",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton12",
                 "label": "Link Botton1"
               },
               {
                 "type": "text",
                 "id": "text-botton22",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton22",
                 "label": "Link Botton2"
               }               
            ]
          }
{% endschema %}