
{% style  %}  
.vrc-banner2 {
    position: relative;
    width: 100%;
    background-position: center;
    color: white;
    padding: 20px;
    background-repeat: no-repeat;  
    background-position: top;
    margin-bottom: 40px;
    
}
.button-banner2 {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(163, 149, 149, 0.376);;
    color: rgb(19, 18, 18,0.7);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.button-banner2:hover{border: 2px solid rgba(225, 225, 225, 0.179);background-color: antiquewhite;}
       
/* Estilos para móvil */
@media (max-width: 768px) {
    .vrc-banner2 {
        background-size: cover;
        height: 105vh;
        font-weight: 900;
        margin-left: 0;
        margin-right: 0;
        background-repeat: no-repeat;
        background-position: bottom;        
    h1{
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        text-align: left;

      }
      p{
        position: absolute;
        text-shadow: 2px 2px 4px #000000;
        text-align: left;
        top: 45%;
        left: 4%;
      }
    .position-boton
    {
        position: absolute;
        top: 80%;
        left: 24%;
        transform: translate(-50%, -50%);
    }  
    .position-mid
    {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
 }
}

/* Estilos para escritorio */
@media (min-width: 769px) {
    .vrc-banner2 {
        font-size: 24px;
        background-size: contain;
        height: 95vh;

        
        h1{
            text-shadow: 2px 2px 4px #000000;
            position: absolute;
            font-size: 100px;
            font-weight: 900;
            color: white;
            text-shadow: 2px,10px,4px,black;
            top: 10%;
            left: 65%;
            transform: translate(-50%, -50%);
          }
          p{
            position: absolute;
            text-align: left;
            top: 45%;
            left: 40%;
            max-width: 380px;
            transform: translate(-50%, -50%);
            
          }
        .position-boton
        {
            position: absolute;
            top: 60%;
            left: 70%;
            transform: translate(-50%, -50%);
        }  
        .position-mid
        {
            position: absolute;
            top: 60%;
            left: 40%;
            transform: translate(-50%, -50%);
        } 
     }
    }
    .vrc-banner2 {
        /* Estilo predeterminado para escritorio */
        background-image: url('{{ section.settings.banner-escritorio2 | image_url: width: 2592, height: 1152 }}');
            h1{top: {{section.settings.pose-y-tittle12}}%; left: {{section.settings.pose-x-tittle12}}%;font-size:{{section.settings.size-e-tittle12}}px;}    
       /* Estilo para dispositivos móviles */
        @media (max-width: 768px) {
            background-image: url('{{ section.settings.banner-movil2 | image_url: width: 1152, height: 2592 }}');
            h1{top: {{section.settings.posm-y-tittle12}}%; left: {{section.settings.posm-x-tittle12}}%;font-size:{{section.settings.size-m-tittle12}}px;}     
          }

    }
    .vrc-banner2 h1{
      position : absolute; 
      color:{{ section.settings.font-color-tittle12 }};
  
    } 
    .vrc-banner2 p{
     position : absolute;
     font-size:{{section.settings.size-tittle22}}px;
     color:{{ section.settings.font-color-tittle22 }};
    }

    
    {% endstyle %}
    {%- if section.settings.banner-escritorio2 != blank or section.settings.banner-movil2 != blank -%}
    <div class="vrc-banner2">
        <h1>{{section.settings.title-banner2}}</h1>
        <p >{{section.settings.tittl2-banner2}}</p>
        <a href="{{section.settings.link-botton12}}" class="button-banner2 position-boton">{{section.settings.text-botton12}}</a>
        <a href="{{section.settings.link-botton22}}" class="button-banner2 position-mid">{{section.settings.text-botton22}}</a>
    </div>
   
{%- endif -%}
{% schema %}
    {
        "name": "VRC-BANNER2do",
              "settings": [
                {
                 "type": "text",
                 "id": "title-banner2",
                 "label": "Titulo del Banner"
               }, 
               {
                "type": "image_picker",
                "id": "banner-movil2",
                "label": "Imagen Para Moviles"
               },
               {
                "type": "range",
                "id": "posm-x-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Horizaontal Titulo 1",
                "default": 8
              },
              {  
                "type": "range",
                "id": "posm-y-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Vertical Titulo 1",
                "default": 8
              },
              {
                "type": "range",
                "id": "size-m-tittle12",
                "min": 10,
                "max": 90,
                "step": 1,
                "unit": "px",
                "label": "Tamaño Movil Titulo 1",
                "default": 45
              },





               {
                "type": "image_picker",
                "id": "banner-escritorio2",
                "label": "Imagen Para Compputadoras"
               },
               {
               "type": "range",
                "id": "pose-x-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Horizaontal Escritorio Titulo 1",
                "default": 8
              },
              {  
                "type": "range",
                "id": "pose-y-tittle12",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "Posicion Vertical Escritorio Titulo 1",
                "default": 8
              },
                {
                "type": "range",
                "id": "size-e-tittle12",
                "min": 10,
                "max": 90,
                "step": 1,
                "unit": "px",
                "label": "Tamaño Escritorio Titulo 1",
                "default": 45
              },
              {
                "type": "color",
                "id": "font-color-tittle12",
                "label": "Color Titulo 1",
                "default": "#FFFFFF"
              },


    
         
                {
                 "type": "textarea",
                 "id": "tittl2-banner2",
                 "label": "2do Titulo del Banner"
               },
               {
                "type": "range",
                "id": "size-tittle22",
                "min": 10,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "Tamaño Titulo 2",
                "default": 25
              },
              {
                "type": "color",
                "id": "font-color-tittle22",
                "label": "Color Titulo 2",
                "default": "#000000"
              },
               {
                 "type": "text",
                 "id": "text-botton12",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton12",
                 "label": "Link Botton1"
               },
               {
                 "type": "text",
                 "id": "text-botton22",
                 "label": "Texto del Boton 1"
               },
               {
                 "type": "url",
                 "id": "link-botton22",
                 "label": "Link Botton2"
               }               
            ]
          }
{% endschema %}